@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");

body {
  background-color: #21212e;
  margin: 15px;
  margin-top: 50px;
}

.login-form,
.login-form * {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
}

.login-form {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.formContainer {
  padding: 30px;
  background: rgba(0, 0, 0, 0.25);
}

.logInLogo {
  display: block;
  max-width: 125px;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  color: #dddddd;
}

.formContent {
  padding: 30px;
  background: #eeeeee;
}

.login-formheader {
  margin-bottom: 15px;
  text-align: center;
  color: #333333;
}

.login-forminput {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  background: #ffffff;
  outline: none;
  transition: border-color 0.5s;
}

.login-forminput:focus {
  border-color: #0a8ada;
}

.login-forminput::placeholder {
  color: #aaaaaa;
}

.login-formbutton {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background: #0a8ada;
  width: 49%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-formbutton:active {
  background: #0a8ada;
}

.login-formlinks {
  margin-top: 15px;
  text-align: center;
}

.login-formlink {
  font-size: 0.9em;
  color: #0a8ada;
  text-decoration: none;
}
